*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
:root{
    --bgcolor:#a18a08c5;
    --intro:rgba(255, 255, 255, 0.788);
    --jionbutton:#19cf03;
}
.container{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(var(--bgcolor), var(--bgcolor)), url(https://media.istockphoto.com/id/1307737982/vector/coat-of-arms-of-the-republic-of-kenya.jpg?s=612x612&w=0&k=20&c=drDYJ1wGRo7-cNhJFunIXbN7dRjtf21imuQhhAPAR_w=);
    /* background-color: var(--bgcolor); */
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
  background-color: var(--intro);
  padding: 50px 20px;
  margin: 20px;
  height: auto;
}

.intro #joinBtn {
  margin-top: 20px;
  font-size: 1rem;
  padding: 5px;
  background-color: var(--jionbutton);
  cursor: pointer;
}

.intro p{
  font-size: 1.5rem;
}
form{
  display: flex;
  flex-direction: column;
  width: 60vh;
}
input{
  font-size: 1.5rem;
  margin-bottom: 20px;
  background-color: rgba(128, 128, 128, 0.486);
}
#signupBtn,
#loginBtn{
  cursor: pointer;
  background-color: red;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
 .users {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content; 
  padding: 10px;
  margin: 0 auto; 
}
.userDetails{
  display: flex;
  justify-content: center;
}
.displayContainer{
  background-color: var(--bgcolor);
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
   align-items: center;
  text-align: center; 
}

#viewBill{
  width: auto;
  font-size: 1.2rem;
  background-color: var(--jionbutton);
  padding: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}
.displayContainer p{
  font-size: 1.5rem;
  margin: 10px;

}

